---
import Social from './Social.astro';
---

<footer>
    <p>&copy; 2023 fenndev | All Rights Reserved</p>
    <Social platform="twitter" username="stinkyfenn" />
    <Social platform="github" username="fenndev" />
</footer>
